<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.ProofBoardMapper">

	<select id="findAllByProof" resultType="com.cloud.domain.ProofBoardDto">
		select * 
		from proof_message_info
		where campaign_no = #{no} and authenticated = #{flag}
		limit #{startIndex}, #{perPageNum};
	</select>
	
	<select id="totalCount" resultType="Integer">
		select count(*)
		from proof_message_info
		where campaign_no = #{no} and authenticated = #{flag}
	</select>

	<insert id="insertProof" parameterType="com.cloud.domain.ProofBoardDto">
		insert into proof_message_info (campaign_no, title, content, photo, writer)
		values (#{campaignNo}, #{title}, #{content}, #{photo}, #{writer})
	</insert>
	
	<update id="updateProof">
		update proof_message_info set authenticated = true where proof_no = #{no}
	</update>
</mapper>