<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.ProofBoardMapper">

	<select id="findAllByProof" resultType="com.cloud.domain.ProofBoardDto">
		select * 
		from proof_message_info
		where campaign_no = #{no} and authenticated = #{flag}
        order by regtime desc
		limit #{startIndex}, #{perPageNum};
	</select>
	
	<select id="totalCount" resultType="Integer">
		select count(*)
		from proof_message_info
		where campaign_no = #{no} and authenticated = #{flag}
	</select>
			
	<select id="findHeadcount" resultType="Integer">
		select headcount
		from official_personal_campaign_info
		where campaign_no = #{no};
	</select>
	
	<select id="findWeekPassOfficial" resultType="java.util.HashMap">
		select date(regtime) time, count(regtime) count
		from proof_message_info
		where date(regtime) between curdate() - 8 and curdate() - 1 and campaign_no = #{no} and authenticated = true
		group by date(regtime) order by time asc;
	</select>
	
	<select id="findTodayPassOfficial" resultType="Integer">
		select count(regtime)
		from proof_message_info
		where date(regtime) = curdate() and campaign_no = #{no} and authenticated = true;
	</select>
	
	<select id="findDurationPersonal" resultType="Integer">
		select (datediff(end_date, start_date)) as duration
		from campaign_info
		where no = #{no};
	</select>

	<select id="findAllPassPersonal" resultType="java.util.Map">
		select writer, count, profile_image
		from (        
	        select writer, count(writer) count
			from proof_message_info 
			where campaign_no = #{no} and authenticated = true
	        group by writer) sub inner join user
        on sub.writer = user.username;
	</select>
	
	<select id="findUserPassPersonal" resultType="Integer">
		select count(*)
		from proof_message_info
		where campaign_no = #{no} and writer = #{username} and authenticated = true;
	</select>
	
	<insert id="insertProof" parameterType="com.cloud.domain.ProofBoardDto">
		insert into proof_message_info (campaign_no, title, content, photo, writer)
		values (#{campaignNo}, #{title}, #{content}, #{photo}, #{writer})
	</insert>
	
	<update id="updateProof">
		update proof_message_info set authenticated = true where no = #{no}
	</update>
</mapper>