<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.UserMapper">

	<select id="findByUsername" resultType="com.cloud.domain.UserDto">
		select no, username, nickname, age, gender, eco_point, exp, profile_image
		from user
		where username = #{username}
	</select>

	<select id="checkByUsername" resultType="Integer">
		select count(*)
		from user
		where username = #{username}
	</select>
	
	<select id="checkByNickname" resultType="Integer">
		select count(*)
		from user
		where nickname = #{nickname}
	</select>
	
	<insert id="userRegistier" parameterType="com.cloud.domain.UserDto">
		insert into user (username, password, nickname, age, gender)
		values (#{username}, #{password}, #{nickname}, #{age}, #{gender});
	</insert>
	
	<insert id="insertUserRole">
		insert into user_authority (user_no, authority)
		values((select no from user where username = #{username}), 'USER_ROLE');					
	</insert>
	
	<update id="updateUser">
		update user set nickname = #{nickname}, age = #{age}, gender = {gender}, profile_image = #{profileImage}, introduce = #{introduce}
		where username = #{username}
	</update>
	
	<update id="changePassword">
		update user set password = #{password} where username = #{username}
	</update>
</mapper>